[LINE_BOT_CONGIGURE]
Channel_Access_Token=cp2gwxL5Oa6fW6aO92h7l4rsCgoQ85tsFlBPqBP+mTnJhZxU28h0bRWAAj1dBfpHlLLprLTpZdG81NHNcdCwrX0a1ZvspnozUGouPRbHMX/Z/kjcNmLl51Hc+drGp6W0zM0o2r/hf8m9fGqS74dN9wdB04t89/1O/w1cDnyilFU=
Channel_Secret=824f57f901d1931a6fd0c7cd1f42197c
Channel_User_ID =U91d0084be667b2e09df4dbae08dbff31